@font-face {
    font-family: 'Lato-light';
    src: url('./Lato-Light.woff') format('woff');
}
@font-face {
    font-family: 'Lato-regular';
    src: url('./Lato-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Lato-black';
    src: url('./Lato-Black.woff') format('woff');
}