@import '~bootstrap/scss/bootstrap';
@import './styles/variables.scss';
@import './fonts/fonts';

#root {
  background-color: $background-color;
  height: 100vh;
  width: 100vw;
}
body,
h1,
h2,
h3,
h4,
h5,
input,
label,
button,
span {
  font-family: 'Lato-light', sans-serif;
}
a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
  opacity: .8;
  transition: .3s;
}
a:hover{
  opacity: 1;
}

.form-floating > label {
  transition: 0.3s;
}

@import './components/App/App.scss';
@import './components/FormAuthPatient/FormAuthPatient.scss';
@import './components/FormRegisterPatient/FormRegisterPatient.scss';
@import './components/Input/Input.scss';
@import './components/DropboxMain/DropboxMain.scss';
@import './components/Images/Image.scss';
@import './components/FormUpdatePatient/FormUpdatePatient.scss';
