.form-register {
  min-width: 300px;
  max-width: 520px;
}
.form-register__label {
  color: $label-input-color;
  border-radius: 5%;
}
.form-register__button-register {
  height: 48px;
}
.form-register__select-option {
  :hover {
    cursor: pointer;
  }
  height: 48px;
  max-width: 200px;
}
.form-control__error:focus {
  border: 2px solid rgba(220, 53, 69, 0.8);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(220, 53, 69, 0.2) inset;
  -moz-box-shadow: 0px 0px 8px 2px rgba(220, 53, 69, 0.2) inset;
  box-shadow: 0px 0px 8px 2px rgba(220, 53, 69, 0.2) inset;
  outline: 0 none;
}
